#content {max-width: 1600px; margin: 0 auto;}
nav a {text-align: center;}
#hero-msg h1, #hero-msg h4 {text-align: center;}


.button-box {text-align: center;}
main section {text-align: center;}
#background {
    height: 725px;
}

-primary-color: #07BADA   ;
  --secondary-color: #D5591B ;
  --accent1-color: #C6BF08;
  --accent2-color: #398A34;
body {
    background-color: #07BADA ; color:#D5591B ;
}
header {
    background-color:#D5591B;color:#07BADA ;
}
nav a:hover {
    background-color: #398A34;color: white;
}
.book, .join {background-color: #C6BF08;color: black ;}
.book:hover, .join:hover{background-color: #398A34;color: white ;}
#background{background-color: #C6BF08;color:black ;}
.msg{background-color: #C6BF08;color:black ;}
footer {background-color: #D5591B;color:#07BADA  ;}