nav {
  display: flex;
  justify-content: space-around;background-color: #F4D35E;
}
nav a {text-align: center;text-decoration: none;padding: 35px; color:#966B9D; background-color: #F4D35E;}
nav a:hover {
  background-color: #130a7d;color: white;
}
header {
  background-color:#F4D35E;color:#966B9D ;
  font-family: "Monstalk", Arial, sans-serif;
  font-size: 18px;
  display: grid;
  grid-template-columns: 150px auto;
}
#logo_link {padding-top: 5px; 
  justify-self: center;
  align-self: center;}
img.logo {
    width: 80px; height: 80px; margin: 0 auto;}

