@font-face {
  font-family: "Monstalk";
  src: url(Monstalk.ttf);

}
@font-face {
  font-family: "Baskerville";
  src: url(Baskervville-Regular.ttf);
}

.privacy-for-contact-info input[type='checkbox']{
  cursor: pointer; outline: none;border: none;
}
input .chk {width: 10px;
  margin:0;}
header {background-color: #F4D35E;color:#966B9D  ;padding: 25px 50px;;display: flex;
  justify-content: space-around;
  align-items: center; font-size: 2em;  font-family: "Monstalk", Arial, sans-serif;
}
.home-navigation {
  display: flex; 
  justify-content: space-around;background-color: #F4D35E;align-items: center;
}
.home-navigation a {text-align: center;text-decoration: none;padding: 35px; color:#966B9D; background-color: #F4D35E;}
#site-plan-link:hover,#nav-home-footer:hover,#nav-sign-up:hover,#nav-hiring:hover,#nav-contact-link:hover,#hiring-button:hover,#nav-home-link:hover,#nav-sign-up-link:hover,#hiring-link:hover, #nav-contact-link:hover{
  background-color: #130a7d;color: white;padding: 10px;  text-decoration: underline;color: white;

}
#hiring-button{font-size: 2em; color: #966B9D; text-align: center;display:block; margin: 0 auto;font-family:  "Monstalk", Arial, Helvetica, sans-serif;}
#nav-logo:hover{border-style: solid;border-color: #130a7d; border-width:20px}

img.profile{align-items: center; height: 200px; width: 200px; margin: 0 auto;}

img.logo {
    width: 80px; height: 80px; margin: 0 auto;}
body { display: grid;
      background-color: #D52121 ; color:#130a7d ;
      font-size: 18px;   margin: 0;
      padding: 0;
  }
.paragraph-heading {text-align: center;font-family: "Monstalk", Helvetica, sans-serif;}
.paragraph-heading-profile{text-align: left;font-family: "Monstalk", Helvetica, sans-serif;}
.paragraph-body {text-align: left;font-family: "Baskerville", Helvetica, sans-serif;font-size: 1.5em;}

.home-grid{grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;}

footer {background-color: #F4D35E;color:#966B9D  ;padding: 35px;margin-top: 200px;display: flex;
  justify-content: space-around;
  align-items: center; font-family: "Monstalk", Arial, Helvetica, sans-serif;}
footer .social img{padding-top: 15px;}
footer a{color: #966B9D;text-decoration: none;}
footer a:hover{text-decoration: none;color: white;padding: 10px;}
footer p {
  font-size: 1.5em;
}
footer nav{font-size: 1.5em; text-align: left;}    

#site-plan-link {
  text-decoration: underline;color: white;
}
.button-box,.button-box-2{background-color: #F4D35E;color: black ;text-decoration: none; width: 150px;
  font-family:  "Monstalk", Arial, sans-serif; font-size: 18px;padding: 15px 30px;    margin-top: 50px;
border-radius: 5px;grid-row: 10;text-align: center;}
.button-box:hover,.button-box-2:hover{background-color: #130a7d; color: white ;padding: 10px;}
.buttons{display: grid;grid-template-columns: 33% auto;}
.buttons{color: white;}
.button-box{grid-column: 2;}
.button-box-2{grid-column: 3;}
.sign-up,.hire{color:#966B9D; font-family:  "Monstalk", Arial, sans-serif; font-size: 18px;text-align: center;}
.sign-up:hover,.hire:hover{color:white}
.title{text-align: center;font-family: "Monstalk", Helvetica, sans-serif;}
.paragraph-image{align-items: right;}
#home-images{display: block;margin-left: auto;}
.home-dice{margin-left: auto;}
h2{font-size: 1.5em;}
.sign-up-grid{grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;}
.dm-image{width: 100%;margin: 10px;padding: 20px;}
.profile-box{background-color: #F4D35E; color: #966B9D;}
.footer-grid{grid-template-rows:200px 200px 200px 0px;grid-template-columns: repeat(3,500px);}
#nav-home-footer,#nav-sign-up,#nav-hiring,#nav-contact-link{grid-row: 3; grid-column: 1;}
#social-media-msg{grid-row: 2/3;grid-column: 3/4;}
#social-media-icons{grid-row: 1/2;grid-column: 3/4;align-items: center;display:block;margin: 0 auto; padding: 10px;}
.footer-links{text-align: left;grid-row: 3/4;}
.nav-footer{text-align: left;grid-row: 3/4; grid-column: 1/2;}
