nav {
  display: flex;
  justify-content: space-around;background-color: #F4D35E;align-items: center;
}
nav a {text-align: center;text-decoration: none;padding: 35px; color:#966B9D; background-color: #F4D35E;}
nav a:hover {
  background-color: #130a7d;color: white;
}
header {
  margin: auto;text-align: center;
  background-color:#F4D35E;color:#966B9D ;
  font-family: "Monstalk", Arial, sans-serif;
  font-size: 18px;
  display: grid;
  grid-template-columns: 150px auto;
}
#logo_link {padding-top: 5px; 
  justify-self: center;
  align-self: center;}
img.logo {
    width: 80px; height: 80px; margin: 0 auto;}
body { display: grid;
      background-color: #D52121 ; color:#130a7d ;
      font-family: "Baskerville", Helvetica, sans-serif;
      font-size: 18px;   margin: 0;
      padding: 0;
  }
.paragraph-heading {text-align: center;}
.home-paragraph {text-align: left;}
.home-grid{grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;}
footer {background-color: #F4D35E;color:#966B9D  ;padding: 25px 50px;margin-top: 200px;display: flex;
  justify-content: space-around;
  align-items: center;}
footer .social img{padding-top: 15px;}
footer a{color: #966B9D;text-decoration: none;}
footer a:hover{color: #056070;text-decoration: none;}
footer p {
  font-size: 1.5em;
}
footer nav{font-size: 1.5em;}    

footer p a:hover {
  text-decoration: underline;
}
.button-box,.button-box-2{background-color: #F4D35E;color: black ;text-decoration: none; width: 150px;
  font-family:  "Rock Salt", Arial, sans-serif; font-size: 18px;padding: 15px 30px;    margin-top: 50px;
border-radius: 5px;grid-row: 10;text-align: center;}
.button-box:hover,.button-box-2:hover{background-color: #130a7d;color: white ;}
.button-box{grid-column: 3/4;grid-row: 9;}
.button-box-2{grid-column: 8/9;grid-row: 9;}
.title{text-align: center;}
.nav-home{grid-column: 1/2;}
.nav-sign-up{grid-column: 3/4;}
.nav-logo{grid-column: 5/6;}
.nav-hiring{grid-column: 7/8;}
.nav-contact{grid-column: 9/10;}
.paragraph-image{align-items: right;grid-column: 10;}
.paragraph-logo{margin: 0;}